body{
    width:100%;
    height:100%;
    background-color: lightblue;
}
*{
   
}
a{
    text-decoration: none;
}
.app{
    border-radius: 5px 15px;
    margin:15px;
    height:95px;
    width:95%;
    align-items: stretch;
    text-align: center;
     display: block;
     list-style-type: none;
    background: whitesmoke;
    padding:0 60px;
  /* height: 100px; */
}